body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
#result {
    margin-top: 20px;
    font-size: 18px;
}
header {
    text-align: center;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;
    color:lightgray ;
    line-height: 70px;
}

header h2 {
    margin-top: 35px;
    color: black;
}

.inputSection {
    display: flex;
    flex-direction: column;
}

header p {
    margin-top: -10px;
    color: black;
    font-size: small;
    margin-bottom: 20px;
}

#squareSide {
    margin-top: 10px;
    outline: none;
    border-radius: 7px;
    border: solid darkgrey;
    padding: 10px;
}

#squareSide:focus {
    border: solid black;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    width: 100%;
} 


button:hover {
    background-color: rgb(107, 224, 253);
}

button:active {
    background-color: rgb(3, 30, 102);
    transform: translateY(5px);
}

.countButton {
    margin-top: 10px;
    background-color: rgb(6, 42, 250);
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
}

.resetButton {
    margin-left: auto;
    margin-top: 10px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
}

section h4 {
    display: block; 
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 30px;
    height: 30px;
}

section h3 {
    display: block;
    background-color: white;
    color: blue;
    text-align: center;
}

section h1 {
    display: block;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 50px;
    height: 50px;
}

.persegi {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

label {
    display: block;
    background-color: white;
    color: blue;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

Body h4 {
    text-align: center;
}
